<!-- Header Section -->
<header class="header" id="header">
    <nav class="navbar container">
        <a  class="brand"><i class="fa-brands fa-apple"></i></a>
        <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <div class="menu" id="menu">
            <ul class="menu-inner">
                <li class="menu-item"><a  class="menu-link">Smartphones</a></li>
                <li class="menu-item"><a  class="menu-link">Laptops</a></li>
                <li class="menu-item"><a  class="menu-link">Fragrances</a></li>
                <li class="menu-item"><a  class="menu-link">Skincare</a></li>
                <li class="menu-item"><a  class="menu-link">Groceries</a></li>
                <li class="menu-item"><a class="menu-link">Home decoration</a></li>
            </ul>
        </div>
        <button class="menu-block" routerLink="cart"><i class="fa-solid fa-bag-shopping"></i><span class="cart-count badge badge-success">{{count}}</span></button>
    </nav>
</header>
