<section class="ban_sec">
    <div>
        <div class="ban_img">
            <img src="../../../assets/images/wallpaper.webp" alt="banner">
            <div class="ban_text">
                <strong>
                    <span>Meeting current</span><br> needs now
                </strong>
                <p>You can prioritize a child’s mental, emotional, <br>
                    behavioral, and physical health </p>
                <a href="#">Lend a hand</a>
            </div>
        </div>
    </div>
</section>
<app-category category="smartphones"></app-category>
<app-category category="laptops"></app-category>


