

.wrapper-column {
    display: grid;
    row-gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

@media only screen and (min-width: 48rem) {
    .wrapper-column {
        grid-template-columns: repeat(2, minmax(0, 26rem));
        align-content: center;
        justify-content: center;
        column-gap: 4rem;
        margin-top: 2rem;
    }
}

.wrapper-figure {
    position: relative;
    align-items: center;
    justify-self: center;
}

.wrapper-figure::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 100%;
    border-radius: 50%;
    padding-bottom: 100%;
    translate: -50% -50%;
    background-color: var(--brown-300);
}

.wrapper-image {
    /* display: block;
    max-width: 17rem; */
    height: auto;
    /* scale: 1.25;
    rotate: 30deg;
    translate: 1rem;
    filter: drop-shadow(0px 8px 8px rgba(15, 15, 15, 0.4)); */
}

@media only screen and (min-width: 48rem) {
    .wrapper-image {
        max-width: 20rem;
    }
}

@media only screen and (min-width: 64rem) {
    .wrapper-image {
        max-width: 24rem;
    }
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    margin-block: 4rem 2rem;
}

.wrapper-inform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.75rem;
}

.wrapper-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-action {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.wrapper-action .btn-neutral {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
}

.sizes,
.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}

.price{
        width: 33.33%;
}

.sizes-list {
    display: flex;
    column-gap: 0.25rem;
    padding-right: 1.5rem;
}

.sizes-item {
    font-family: inherit;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
    user-select: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.25rem;
    transition: all 0.2s ease;
}

.sizes-item.is-select {
    font-weight: 500;
    color: var(--white-100);
    background-color: var(--brown-500);
}

.example-ripple-form-field {
    margin: 0 12px 0 0;
    width: 100% !important;
}

input{
    padding-top: 20px !important;
}

